<a href="https://colab.research.google.com/github/estebanpv/practice/blob/main/Adaviv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PLANT HEALTH DATASET ANALYSIS

## Presented by: Esteban Perez
## Company: Adaviv

## Data preparation

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import math
from datetime import datetime

In [2]:
# Import dataset into dataframe

csv_url = 'https://raw.githubusercontent.com/estebanpv/practice/main/Sum_of_Number_Of_Pla_1674857456444_1_1_1.csv'
df_plant_health = pd.read_csv(csv_url,sep=',',header=0, parse_dates=['Date'], index_col=False)

In [3]:
# Find if there are rows with missing data

print("Shape of original dataset: ")
print(df_plant_health.shape)

print("Shape of dataset without missing data: ")
df_plant_health.dropna
print(df_plant_health.shape)

print("If both shapes are the same, it means the dataset has no empty data.")

Shape of original dataset:
(232652, 8)
Shape of dataset without missing data:
(232652, 8)
If both shapes are the same, it means the dataset has no empty data.

In [4]:
df_plant_health.head()

,Date,Week,Room,Crop Week,Cultivar,Issue,coloredSeverity,Number of plants (SUM)
0,2023-01-27,4,1,4,LM,Nutrient Def,1.Green,0
1,2023-01-27,4,1,4,LM,Nutrient Def,2.Yellow,1
2,2023-01-27,4,1,4,LM,Nutrient Def,3.Orange,0
3,2023-01-27,4,1,4,LM,Nutrient Def,4.Red,0
4,2023-01-27,4,1,4,LM,Runts,1.Green,0

In [5]:
df_plant_health['Room'] = df_plant_health['Room'].astype(str)

In [6]:
values = df_plant_health['Room'].unique()
values.sort()

print("Room categories: " + (str)(values.size))
print(values)

Room categories: 8
['1' '2' '3' '4' '5' '6' '7' '8']

In [7]:
values = df_plant_health['Cultivar'].unique()
values.sort()

print("Cultivar categories: " + (str)(values.size))
print(values)

Cultivar categories: 54
["'--" 'AR' 'BB' 'BBBX1' 'BBHB' 'BM' 'BR' 'BTF' 'DM' 'DOJ' 'DOL' 'DSI'
 'ESP' 'ETB' 'FJ' 'FLP' 'GB' 'GP' 'HCC' 'HG' 'IS' 'JC' 'JH' 'JOE' 'LH'
 'LIS' 'LM' 'LM11' 'LZB' 'MAC' 'MIM' 'MRG' 'PB' 'PE' 'PP' 'QK' 'RB3' 'SD'
 'SDBX4' 'SPC' 'SPU' 'TB' 'TC' 'TURB' 'UNK' 'VR' 'WC4DD' 'WD' 'WM11'
 'YMCA' 'ZC' 'ZMNTS' 'ZTK' 'unknown_strain']

In [8]:
def fix_issue(Issue):
  if Issue == 'Lights out' :
    Issue = 'Lights Out'
  elif Issue == 'Under-watered' :
    Issue = 'Under-Watered'
  return Issue

df_plant_health['Issue'] = df_plant_health['Issue'].apply(lambda x: fix_issue(x))

values = df_plant_health['Issue'].unique()
values.sort()

print("Issue categories: " + (str)(values.size))
print(values)

Issue categories: 38
['Botrytis' 'Burn/Mantis' 'Chlorosis' 'Chlorosis/Mantis' 'Dead'
 'Dead Branch' 'Dead FP' 'Dead/Mantis' 'Dripper Issue' 'Fan Burn' 'Flag'
 'Fusarium' 'H-Flower/Mantis' 'Herm-shoot' 'Hermaphrodite'
 'L-Flower/Mantis' 'Leaf Damage' 'Light Burn' 'Lights Out' 'Mantis-Tags'
 'Mantis:H-Flower' 'Mutated Branching' 'Mutation' 'Nutrient Def'
 'Open Wounds' 'Over-watered' 'Removed' 'Runts' 'Runts/Mantis' 'Tray Leak'
 'Tray drainage' 'Under-Watered' 'Viral Anomaly' 'Viral Anomaly/Mantis'
 'Viral anomaly' 'Water/Mantis' 'Wilt' 'Wilt/Mantis']

In [9]:
values = df_plant_health['coloredSeverity'].unique()
values.sort()

print("coloredSeverity categories: " + (str)(values.size))
print(values)

coloredSeverity categories: 4
['1.Green' '2.Yellow' '3.Orange' '4.Red']

In [10]:
# Week Of Observation

Date_min = df_plant_health.min()['Date']
Date_max = df_plant_health.max()['Date']

print("Observation start date: " + (str)(Date_min))
print("Observation end date: " + (str)(Date_max))

def calc_week_of_observation(Date_current):
  delta = Date_current - Date_min
  Week_Of_Observation = math.floor(delta.days / 7) + 1
  return Week_Of_Observation

df_plant_health['Week_Of_Observation'] = df_plant_health['Date'].apply(lambda x: calc_week_of_observation(x))

Observation start date: 2021-11-16 00:00:00
Observation end date: 2023-01-27 00:00:00

In [11]:
df_plant_health.describe()

,Week,Crop Week,Number of plants (SUM),Week_Of_Observation
count,232652.00000,232652.000000,232652.000000,232652.000000
mean,27.66293,5.736035,2.170645,34.223183
std,16.51359,3.109653,29.286162,17.236033
min,1.00000,1.000000,0.000000,1.000000
25%,13.00000,3.000000,0.000000,19.000000
50%,27.00000,6.000000,0.000000,34.000000
75%,43.00000,8.000000,0.000000,50.000000
max,53.00000,13.000000,1800.000000,63.000000

# **Preliminary data review**


*   Date
  *   Observation start date: 2021-11-16.
  *   Observation end date: 2023-01-27.
  *   Hours and minutes will be discarded, since all are zero values.

*   Week
  *   Due to the season of the year, the Week determines relevant conditions for plant health: humidity, temperature and sunlight.
  *   Some years might have 53 weeks.

*   Room
  *   8 rooms.
  *   Each Room may have conditions or human gardeners that affect the plant health. Example: Room 1 is next to the kitchen furnaces (receiving heat all year long) and is in charge of an inexperienced member of the team.

*   Crop Week
  *   A crop cycle may last between 1 and 13 weeks.
  *   At specific Crop Weeks the gardeners can execute different operations that affect the plant health. Example: A new fertilizer is added on Crop Week 5.

*   Cultivar
  *   54 cultivars.
  *   It seems that Cultivar categories "--" and "unknown_strain" could mislead. *For now the records containing these 2 Cultivar categories won't be deleted.*

*   Issue
  *   38 issues.
  *   Many categories contain the text "Mantis", which could indicate that a "Mantis" phenomena could be observed with another specific issue, so all categories containing that text could be related. *For now, all categories will be analyzed separately.*

*   coloredSeverity
  *   4 severities.

*   Number of plants (SUM)
  *   At least for the 75% of the observations, no plants were identified with issues.
  *   There is an outlying value: 1,800. *Transcription error or disaster in the facility?*

*   Week of Observation
  *   The dataset was collected during 63 weeks.
  *   It was necessary to calculate "Week Of Observation", which is the number of weeks passed since the observation started, for each record.
  *   This is necessary because Week 4 of 2021 is not the same as Week 4 of 2022.
  *   Field "Week Of Observation" could be useful to discover phenomena that occurred from year to year.
  *   Field "Week" is still useful because it determines relevant conditions for plant health that vary through the year season: humidity, temperature and sunlight.

In [12]:
# Find records where issues were found: Severity is not '1.Green' and 'Number of plants (SUM)' is higher than zero

condition = (df_plant_health['coloredSeverity'] != '1.Green') & (df_plant_health['Number of plants (SUM)'] > 0)
df_plant_health_problems = df_plant_health[condition]
df_plant_health_problems.describe()

               Week     Crop Week  Number of plants (SUM)  Week_Of_Observation
count  29777.000000  29777.000000            29777.000000         29777.000000
mean      24.439064      8.118682               15.033079            34.635323
std       16.950835      2.276130               80.052420            17.590068
min        1.000000      1.000000                1.000000             4.000000
25%       10.000000      7.000000                1.000000            20.000000
50%       22.000000      8.000000                2.000000            33.000000
75%       41.000000     10.000000                7.000000            52.000000
max       53.000000     13.000000             1800.000000            63.000000

In [13]:
df_plant_health_problems.groupby(['Issue']).agg({'Number of plants (SUM)':['mean','min','max','count']})

                     Number of plants (SUM)
                                       mean min   max count
Issue
Botrytis                           1.923077   1     9    26
Burn/Mantis                       10.837719   1    46   912
Chlorosis                          7.438642   1   129  1149
Chlorosis/Mantis                   4.950000   1     8   160
Dead                               1.000000   1     1   114
Dead Branch                        1.000000   1     1    29
Dead FP                           15.634724   1   295  1941
Dead/Mantis                       18.000000   7    29    22
Dripper Issue                      1.000000   1     1    44
Fan Burn                           9.364513   1    57  2384
Flag                               9.413302   1    24   421
Fusarium                           2.234375   1     4   256
H-Flower/Mantis                    4.458716   1    11   109
Herm-shoot                         5.675425   1    72   647
Hermaphrodite                     11.923581   1   102   458
L-Flower/Mantis                    3.008264   1     7   121
Leaf Damage                        1.411765   1     2    85
Light Burn                        70.031941   1   402   407
Lights Out                         8.065789   3    18   152
Mantis-Tags                        2.197737   1     5  3181
Mantis:H-Flower                   73.400000  53   106   100
Mutated Branching                  9.847887   1    82   710
Mutation                          22.116142   1   217  1016
Nutrient Def                      15.991736   1   183  6534
Open Wounds                        1.465632   1     6   451
Over-watered                       1.000000   1     1     7
Removed                            5.794334   1    43  1906
Runts                              2.324593   1    13  2212
Runts/Mantis                       2.000000   2     2    81
Tray Leak                         18.000000  18    18    17
Tray drainage                     29.117647  18    54    68
Under-Watered                      4.326121   1    30  1895
Viral Anomaly                     12.912908   1   108   643
Viral Anomaly/Mantis               5.536842   2    12   190
Viral anomaly                    128.626002   1  1800  1123
Water/Mantis                      21.666667   4    40    42
Wilt                               1.179688   1     2   128
Wilt/Mantis                        2.750000   1     6    36

In [14]:
df_plant_health_problems.groupby(['Room', 'Issue']).agg({'Number of plants (SUM)':['mean','min','max','count']})

                          Number of plants (SUM)
                                            mean min   max count
Room Issue
1    Burn/Mantis                       11.305085   3    42   118
     Chlorosis                          9.560311   1   129   257
     Dead Branch                        1.000000   1     1    29
     Dead FP                            2.760417   1    10    96
     Dripper Issue                      1.000000   1     1    17
...                                          ...  ..   ...   ...
8    Tray drainage                     30.600000  18    54    60
     Under-Watered                      2.431762   1     6   403
     Viral Anomaly/Mantis               3.000000   3     3    41
     Viral anomaly                    556.703030   1  1800   165
     Wilt                               1.000000   1     1    35

[176 rows x 4 columns]

In [15]:
df_plant_health_problems.groupby(['Cultivar', 'Issue']).agg({'Number of plants (SUM)':['mean','min','max','count']})

                               Number of plants (SUM)
                                                 mean min max count
Cultivar       Issue
AR             H-Flower/Mantis               7.000000   7   7    19
               Mantis-Tags                   2.000000   2   2    41
               Removed                       1.000000   1   1    15
               Runts                         2.516129   1   3    62
BB             Fan Burn                      7.000000   7   7    15
...                                               ...  ..  ..   ...
ZMNTS          Under-Watered                 3.138643   1  13   339
               Viral Anomaly                 3.000000   3   3    79
               Wilt                          1.000000   1   1    35
ZTK            Nutrient Def                 17.000000  17  17    10
unknown_strain Nutrient Def                  6.000000   6   6    43

[383 rows x 4 columns]

In [16]:
df_plant_health_problems.groupby(['coloredSeverity', 'Issue']).agg({'Number of plants (SUM)':['mean','min','max','count', 'sum']})

                                 Number of plants (SUM)
                                                   mean min  max count    sum
coloredSeverity Issue
2.Yellow        Botrytis                       1.960000   1    9    25     49
                Burn/Mantis                   10.837719   1   46   912   9884
                Chlorosis                      9.682482   1  129   822   7959
                Chlorosis/Mantis               4.950000   1    8   160    792
                Dead Branch                    1.000000   1    1    29     29
...                                                 ...  ..  ...   ...    ...
4.Red           Removed                        6.001642   1   43  1827  10965
                Runts                          1.251163   1    3   215    269
                Tray drainage                 18.000000  18   18     7    126
                Under-Watered                  2.886657   1   13   697   2012
                Wilt                           1.000000   1    1    13     13

[78 rows x 5 columns]

In [17]:
df_plant_health_problems.groupby(['Week', 'Issue']).agg({'Number of plants (SUM)':['mean','min','max','count']})

                          Number of plants (SUM)
                                            mean min max count
Week Issue
1    Burn/Mantis                       10.666667   1  40    84
     Chlorosis                          3.582278   1  23    79
     Dead                               1.000000   1   1     7
     Dead FP                            4.432161   1  28   199
     Fan Burn                          12.078431   1  35   102
...                                          ...  ..  ..   ...
53   Runts/Mantis                       2.000000   2   2     1
     Under-Watered                      4.368421   1  18    19
     Viral Anomaly                      1.333333   1   2     3
     Viral Anomaly/Mantis               4.000000   3   5     2
     Wilt                               1.000000   1   1     1

[787 rows x 4 columns]

In [18]:
df_plant_health_problems.groupby(['Week_Of_Observation', 'Issue']).agg({'Number of plants (SUM)':['mean','min','max','count']})

                                         Number of plants (SUM)
                                                           mean min max count
Week_Of_Observation Issue
4                   Dead FP                           18.666667  18  19    15
5                   Dead FP                           10.300000   1  19    40
                    Fan Burn                           2.333333   2   3    21
                    Flag                              18.000000  18  18     7
                    Mutation                           3.882353   1  32    17
...                                                         ...  ..  ..   ...
63                  Tray Leak                         18.000000  18  18     4
                    Under-Watered                      6.134615   1  22    52
                    Viral Anomaly                      2.055556   1   3    18
                    Viral Anomaly/Mantis               5.000000   5   5     3
                    Wilt                               2.000000   2   2     3

[786 rows x 4 columns]

In [19]:
df_plant_health_problems.groupby(['Crop Week', 'Issue']).agg({'Number of plants (SUM)':['mean','min','max','count']})

                               Number of plants (SUM)
                                                 mean min max count
Crop Week Issue
1         Burn/Mantis                        2.500000   1   4     6
          Dead                               1.000000   1   1     5
          Dead FP                            1.000000   1   1     9
          Nutrient Def                       5.190476   1  13    21
          Removed                            1.000000   1   1     5
...                                               ...  ..  ..   ...
13        Open Wounds                        6.000000   6   6     5
          Removed                            4.000000   3   5    15
          Under-Watered                      2.750000   1   6    40
          Viral Anomaly/Mantis               3.000000   3   3     5
          Wilt                               1.000000   1   1     5

[310 rows x 4 columns]

# **Conclusions**

* The most important event is a **Viral Anomaly** that affected mostly **Room 8** and a total of **1,800 plants** between weeks 20 and 28, but seems to have started on Week 18 and was controlled on Week 30. It seems that Room 7 was affected by this incident too.

* The Viral Anomaly could be explained by the increasing temperatures during late Sprint and early Summer, which correspond to weeks 18-30.

* I would consider investing in antiviral remedies and/or improved air conditioning for the plants during that time of the year.